<%= render "shared/header" %>

<div class='main'>
  <%#左側メニュー%>
  <div class='left-contents'>
    <div class='training-menu'>
    左上
    </div>
    <div class='tournament-result'>
    左下
    </div>
  </div>
  <%#/左側メニュー%>

  <%#中央メイン%>
  <div class='center-contents'>
    <div class='training-content'>
    中央メイン
    </div>
  </div>
  <%#/中央メイン%>

  <%#右側メニュー%>
  <div class='right-contents'>
    <div class='login-user-name'>
      <%= form_with model: @user, url: users_path, local: true do |f| %>
        <div class="field">
            <%= f.label :名前　　　 %>
            <%= f.text_field :name %>
        </div>
        <div class="field">
            <%= f.label :パスワード %>
            <%= f.password_field :password %>
        </div>
        <div class="field">
            <%= f.label :年齢　　　 %>
            <%= f.password_field :age %>
        </div>
        <div class="field">
            <%= f.label :性別　　　 %>
            <%= f.password_field :sex %>
        </div>
        <div>
          <%= f.submit "新規登録" %>
        </div>
      <% end %>
    </div>
    <div class='team-members'>
    右中央
    </div>
    <div class='comments'>
    右下
    </div>
  </div>
  <%#/右側メニュー%>
</div>

<%= render "shared/footer" %>