<%= render "shared/header" %>

<div class='main'>
  <%#左側メニュー%>
  <div class='left-contents'>
    <div class='note-name'>
      <% if current_user %>
        <%= current_user.name %>さんのページ一覧
      <% end %>
    </div>
    <div class='training-menu'>
      <% @trainings.each do |training| %>
        <li>
          <%= training.title %>
        </li>
      <% end %>
    </div>
    <div class='left-bottom'>
    </div>
  </div>
  <%#/左側メニュー%>

  <%#中央メイン%>
  <div class='center-contents'>
    <%#中央メイン上部%>
    <div class='training-content'>
    </div>
    <%#中央メイン上部%>
    <%#中央メイン下部%>
    <div class='training-post'>
      <% if current_user %>
        <div class='training-post-left'>
          <%= form_with model: @training, url: trainings_path, local: true do |f| %>
          <div class='training-title'>
            <%= f.label :タイトル %>
            <%= f.text_field :title, class:"field" %>
          </div>
          <div class='training-time'>
            <%= f.label :所用時間 %>
            <%= f.text_field :time, class:"mini-field" %>分
          </div>
          <div class='training-persons'>
            <%= f.label :必要人数 %>
            <%= f.text_field :persons, class:"mini-field" %>人
          </div>
          <div>
            <%= f.label :疲労度 %>
            <%= f.collection_select(:fatigue_id, Fatigue.all, :id, :name, {}, {class:"category-box", id:"training-fatigue"}) %>
          </div>
        </div>
        <div class='training-post-center'>
          <%= f.label :詳細 %><br>
          <%= f.text_area :content, class:"text" %>
        </div>
        <div class='training-post-right'>
        </div>
        <div class="post-button">
          <%= f.submit "投稿する", class:"post" %>
        </div>
        <% end %>
      <% end %>
    </div>
    <%#/中央メイン下部%>
  </div>
  <%#/中央メイン%>

  <%#右側メニュー%>
  <div class='right-contents'>
    <%#/右上%>
    <div class='user-new'>
    <% if current_user.nil? %>
      <%= form_with model: @user, url: users_path, local: true do |f| %>
        <div>
          <%= f.label :名前　　　　　　 %>
          <%= f.text_field :name, class:"field" %>
        </div>
        <div>
          <%= f.label :パスワード　　　 %>
          <%= f.password_field :password, class:"field" %>
        </div>
        <div>
          <%= f.label :パスワード再入力 %>
          <%= f.password_field :password_confirmation, class:"field" %>
        </div>
        <div>
          <%= f.label :年齢 %>
          <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"category-box", id:"user-age"}) %>
          <%= f.label :性別 %>
          <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"category-box", id:"user-sex"}) %>
        </div>
        <div>
          <%= f.submit "新規登録", class:"post" %>
        </div>
      <% end %>
    <% end %>
    </div>
    <%#/右上%>
    <%#/右中%>
    <div class='user-login'>
      <% if current_user.nil? %>
        <%= form_with model: @user, url: login_path, local: true do |f| %>
          <div>
            <%= f.label :名前　　　　　　 %>
            <%= f.text_field :name, class:"field" %>
          </div>
          <div>
            <%= f.label :パスワード　　　 %>
            <%= f.password_field :password, class:"field" %>
          </div>
          <div>
            <%= f.submit "ログイン", class:"post" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%#/右中%>
    <%#右下%>
    <div class='comments'>
    
    </div>
    <%#/右下%>
  </div>
  <%#/右側メニュー%>
</div>

<%= render "shared/footer" %>