<%= render "shared/header" %>

<div class='main'>
  <%#左側メニュー%>
  <div class='left-contents'>
    <div class='training-menu'>
    左上
    </div>
    <div class='tournament-result'>
    左下
    </div>
  </div>
  <%#/左側メニュー%>

  <%#中央メイン%>
  <div class='center-contents'>
    <div class='training-content'>
    中央メイン
    </div>
  </div>
  <%#/中央メイン%>

  <%#右側メニュー%>
  <div class='right-contents'>
    <%#/右上%>
    <div class='login-user-name'>
    <% if current_user.nil? %>
      <%= form_with model: @user, url: users_path, local: true do |f| %>
        <div class="field">
            <%= f.label :名前　　　　　　 %>
            <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :パスワード　　　 %>
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :パスワード再入力 %>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="field">
          <%= f.label :年齢　　　　　　 %>
          <%= f.text_field :age %>
        </div>
        <div class="field">
          <%= f.label :性別　　　　　　 %>
          <%= f.text_field :sex %>
        </div>
        <div>
          <%= f.submit "新規登録" %>
        </div>
      <% end %>
    <% end %>
    </div>
    <%#/右上%>
    <%#/右中%>
    <div class='team-members'>
    <% if current_user.nil? %>
      <%= form_with model: @user, url: login_path, local: true do |f| %>
      <div class="field">
        <%= f.label :名前　　　 %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :パスワード %><br>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.submit "ログイン" %>
      </div>
      <% end %>
    <% end %>
    </div>
    <%#/右中%>

    <%#右下%>
    <div class='comments'>
      <% unless current_user.nil? %>
        <%= link_to "ログアウト", logout_path, method: :delete %>
      <% end %>
    </div>
    <%#/右下%>
  </div>
  <%#/右側メニュー%>
</div>

<%= render "shared/footer" %>