<%= render "shared/header" %>

<div class='main'>
  <%#左側メニュー%>
  <div class='left-contents'>
    <div class="left-top">
      <div class='note-name' id="note-name">
        <% if current_user %>
          <%= current_user.name %>さんの投稿メニュー
        <% end %>
      </div>
      <div class='training-menu'>
        <ul id="training">
          <% @trainings.each do |training| %>
            <li>
              <%= training.title %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class='left-bottom'>
      <div class='user-new'>
        <% if current_user.nil? %>
          <div class="user-new-title">新規登録はこちらから</div>
          <%= form_with model: @user, url: users_path, local: true do |f| %>
          <div>
            <%= f.label :個人名orチーム名 %>
            <%= f.text_field :name, class:"field" %>
          </div>
          <div>
            <%= f.label :パスワード　　　 %>
            <%= f.password_field :password, class:"field" %>
          </div>
          <div>
            <%= f.label :パスワード再入力 %>
            <%= f.password_field :password_confirmation, class:"field" %>
          </div>
          <div>
            <%= f.label :年齢 %>
            <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"category-box", id:"user-age"}) %>
            <%= f.label :性別 %>
            <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"category-box", id:"user-sex"}) %>
          </div>
          <div>
            <%= f.submit "新規登録", class:"post" %>
          </div>
          <% end %>
        <% else %>
          <% if session[:user_id] %>
            <div class="user-name">
              ようこそ　<%= current_user.name %>　さん
            </div>
            <%= link_to "ログアウト", logout_path, method: :delete, class:"logout-button" %>
          <% end %>
        <% end %>
      </div>
      <div class='user-login'>
        <% if current_user.nil? %>
          <div class="user-new-title">ログインはこちらから</div>
          <%= form_with model: @user, url: login_path, method: :post, local: true do |f| %>
          <div>
            <%= f.label :個人名orチーム名 %>
            <%= f.text_field :name, class:"field" %>
          </div>
          <div>
            <%= f.label :パスワード　　　 %>
            <%= f.password_field :password, class:"field" %>
          </div>
          <div>
            <%= f.submit "ログイン", class:"post" %>
          </div>
          <% end %>
        <% else %>
          <div class="user-new-title">別ユーザーでログイン</div>
          <%= form_with model: @user, url: login_path, method: :post, local: true do |f| %>
          <div>
            <%= f.label :個人名orチーム名 %>
            <%= f.text_field :name, class:"field" %>
          </div>
          <div>
            <%= f.label :パスワード　　　 %>
            <%= f.password_field :password, class:"field" %>
          </div>
          <div>
            <%= f.submit "ログイン", class:"post" %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%#/左側メニュー%>

  <%#中央メイン%>
  <div class='center-contents'>
    <%#中央メイン上部%>
    <div class="center-top">
      <% unless current_user.nil? %>
      <div class='training-select', id="trainings", data-trainings="<%= @trainings.to_json %>">
        <div class="selected-left">
          タイトル<div id="selected-title", class="selected-title">　</div>
          所要時間（分）<div id="selected-time", class="selected-time">　</div>
          必要人数（人）<div id="selected-persons", class="selected-persons">　</div>
        </div>
        <div class="selected-right">
          詳細<div id="selected-content", class="selected-content"></div>
        </div>
      </div>
      <% end %>
    </div>
    <%#中央メイン上部%>
    <%#中央メイン下部%>
    <div class="center-bottom">
      <% unless current_user.nil? %>
        <div class='training-post'>
          <div class='training-post-left'>
            <%= form_with model: @training, url: trainings_path, local: true do |f| %>
            <div class='training-title'>
              <%= f.label :タイトル %>
              <%= f.text_field :title, class:"field" %>
            </div>
            <div class='training-time'>
              <%= f.label :所用時間 %>
              <%= f.text_field :time, class:"mini-field" %>分
            </div>
            <div class='training-persons'>
              <%= f.label :必要人数 %>
              <%= f.text_field :persons, class:"mini-field" %>人
            </div>
          </div>
          <div class='training-post-center'>
            <div class="training-content">
              <%= f.label :詳細 %><br>
              <%= f.text_area :content, class:"text" %>
            </div>
            <div class="post-button">
              <%= f.submit "投稿する", class:"post" %>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%#/中央メイン下部%>
  </div>
  <%#/中央メイン%>
</div>

<%= render "shared/footer" %>