<%= render "shared/header" %>

<div class="homepage-upper">
  <p>練習ノートとは、日々の練習の質の向上に非常に役に立つものです。</p>
  <p>練習の内容を言語化してまとめる事で客観的に捉える事ができ、改善につながります。</p>
  <p>こちらのサイトでは２つの機能があり、個人用、チーム用がございます。</p>
  <p>用途に関してはそれぞれ詳細が載っておりますので是非ご参照の上ご活用ください。</p>
</div>

<div class="homepage-lower">
  <div class="homepage-lower-left">
    <p>個人ノートを使う方はこちらから</p>
    <p>新規登録フォーム（新しくユーザー登録する方）</p>
    <%= form_with model: @user, url: users_path, local: true do |f| %>
      <div>
        <%= f.label :ユーザー名　　　 %>
        <%= f.text_field :name, class:"field" %>
      </div>
      <div>
        <%= f.label :パスワード　　　 %>
        <%= f.password_field :password, class:"field" %>
      </div>
      <div>
        <%= f.label :パスワード再入力 %>
        <%= f.password_field :password_confirmation, class:"field" %>
      </div>
      <div>
        <%= f.label :年齢 %>
        <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"category-box", id:"user-age"}) %>
        <%= f.label :性別 %>
        <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"category-box", id:"user-sex"}) %>
      </div>
      <div>
        <%= f.submit "新規登録", class:"post" %>
      </div>
    <% end %>
    <p>ログインフォーム（既存ユーザーの方）</p>
      <%= form_with model: @user, url: login_path, method: :post, local: true do |f| %>
        <div>
          <%= f.label :ユーザー名　　　 %>
          <%= f.text_field :name, class:"field" %>
        </div>
        <div>
          <%= f.label :パスワード　　　 %>
          <%= f.password_field :password, class:"field" %>
        </div>
        <div>
          <%= f.submit "ログイン", class:"post" %>
        </div>
      <% end %>
  </div>
  <div class="homepage-lower-right">
    <p>チームノートを使う方はこちらから</p>
    <p>（2022/7/8時点、未実装）</p>
  </div>
</div>

<%= render "shared/footer" %>